{% extends 'admin/base.html.twig' %}

{% block body %}
    <section class="admin-ads">
        <div class="container-fluid">
            <h1 class="my-3">Gestion des annonces</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th class="text-center">Réservations</th>
                        <th class="text-center">Note</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ad in ads %}
                        <tr>
                            <td>{{ad.id}}</td>
                            <td>{{ad.title}}</td>
                            <td><img src="{{ad.owner.picture}}" class="avatar avatar-micro mr-1"> {{ad.owner.firstName}} {{ad.owner.lastName}}</td>
                            <td class="text-center"><span class="badge badge-dark rounded">{{ad.bookings|length}}</span></td>
                            <td class="text-center"><span class="badge badge-dark rounded">{{ad.avgRatings|number_format(1, ',', ' ')}}</span></td>
                            <td>
                                <a href="{{path('admin_ads_edit', {'id': ad.id})}}" class="btn btn-sm btn-primary">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="{{path('admin_ads_delete', {'id': ad.id})}}" onclick="return confirm(`Êtes vous bien sûr de vouloir supprimer cette annonce ?\n\nLes commentaires et réservations concernées seront aussi supprimés !\n\nSupprimer tout de même ?`)" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
