{% extends 'base.html.twig' %}

{% block body %}

<section class="account-bookings">
    <div class="container">
        <h1>Mes réservations !</h1>
        <div class="alert alert-info mt-5">
            Retrouvez ci-dessous toutes vos réservations passées et à venir !
        </div>

        {% for booking in app.user.bookings %}
            {% set ad = booking.ad %}
            <div class="row mb-5">
                <div class="col-4">
                    <img src="{{ad.coverImage}}" alt="Image de {{ad.title}}" class="img-fluid">
                    
                    <div class="mt-3">
                        {% set comment = booking.ad.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            {% set rating = comment.rating %}
                            <strong>Note donnée : </strong> {% include 'partials/rating.html.twig' %}
                        {% else %}
                            Vous n'avez pas donné de note. <a href="{{ path("booking_show", {'id': booking.id}) }}#comment">Je donne mon avis !</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    <h4>{{ad.title}}</h4>
                    <p>
                        Réservation <strong>n°{{booking.id}}</strong><br>
                        Du {{booking.startDate|date('d/m/Y')}} au {{booking.endDate|date('d/m/Y')}} ({{booking.amount|number_format(2,',',' ')}} &euro; pour <strong>{{booking.days|length}} nuits</strong>)
                    </p>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-info">Plus d'informations</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}