{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Bienvenue sur SymBnB !</h1>
      <p class="lead">Nous permettons aux voyageurs de trouver des opportunités de logement et aux propriétaires de gagner un peu d'argent !</p>
      <hr class="my-4">
      <p>Vous allez quelque part ? Pourquoi ne pas regarder si nous avons une opportunité de logements pour vous ?!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{path('ads_index')}}" role="button">Voir les appartements</a>
      </p>
    </div>
    
    <section class="ads">
        <h2 class="h1 my-5">Nos appartements stars ! </h2>
        <div class="row">
          {% for ad in starAds %}
            {% include 'partials/ad.html.twig' %}
          {% endfor %}
        </div>
    </section>
    
    <section class="vip">
        <h2 class="h1 my-5">Nos propriétaires stars !</h2>
        
        <div class="row">
          {% for data in starUsers %}
            {% set user = data.0 %}
            <div class="col">
                <div class="card border-secondary mb-3">
                  {#<div class="card-header">Header</div>#}
                  <div class="card-body">
                    <h4 class="card-title float-left mr-2">
                      {{user.firstName}} {{user.lastName}} 
                      {% set rating = data.avgRatings %}
                      {% include 'partials/rating.html.twig' %}
                    </h4>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="card-text">
                        <img class="float-left avatar avatar-medium mr-3" src="{{user.picture}}" />
                        <p>{{user.description|striptags|slice(0, 150)}} ...</p>
                        <a href="{{ path('user_profile', {'slug': user.slug}) }}" class="float-right btn btn-success">Découvrir {{user.firstName}}</a>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
