{% if headerData is defined %}
<div class="alert alert-light rounded">
    <form method="get">
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="alert-heading">{{headerData.title}}</h1>
                </div>
                {% if headerData.sortFields is defined and headerData.directions is defined %}
                <div class="col-md-1">
                    <label for="sort">Trier par :</label>
                </div>
                <div class="col-md-3">
                    <select name="sort" id="sort" class="form-control" onchange="this.form.submit()">
                        {% for field, title in headerData.sortFields %}
                            <option value="{{field}}" {% if headerData.sort == field %}selected{% endif %}>{{title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="direction" id="direction" class="form-control" onchange="this.form.submit()">
                        {% for order,title in headerData.directions %}
                            <option value="{{order}}" {% if headerData.direction == order %}selected{% endif %}>{{title}}</option>
                        {% endfor %}
                    </select>      
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endif %}