{% extends 'base.html.twig' %}

{% form_theme adForm _self %}

{% block body %}
    <section class="ad-create">
        <div class="container">
            <h1>Modifiez votre annonce !</h1>
            {{ form_start(adForm) }}
            {{ form_widget(adForm) }}


            <div class="form-group">
                <button type="submit" class="btn btn-success">Enregistrer les modifications !</button>
            </div>

            {{ form_end(adForm) }}
        </div>
    </section>
{% endblock %}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images !</p>
    
    {{ form_widget(form) }}

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-sm btn-primary">Ajouter</button>
    </div>
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="row">
        <div class="col-4">
            {{ form_row(form.url) }}
        </div>
        <div class="col-6">
            {{ form_row(form.caption) }}
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">X</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/js/ad.js')}}"></script>
{% endblock %}