{% extends 'base.html.twig' %}

{% block body %}
    <section class="ad-details">
        <div class="ad-title" style="background-image: url({{ad.coverImage}})">
            <div class="container">
                <h1>{{ad.title}}</h1>
                <p>{{ad.introduction}}</p>
                <p class="h2"><strong>{{ad.rooms}} chambres</strong> pour <strong>{{ad.price|number_format(2, ",", " ")}}&euro; par nuit !</strong></p>
                <a href="{{ path('booking', {'slug': ad.slug}) }}" class="btn btn-primary btn-lg">Réserver !</a>
            </div>
        </div>
        <div class="container">
            
            <div class="row">
                <div class="col-md-8 mb-3">
                    {{ad.content | raw}}

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in ad.images %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in ad.images %}
                            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                <img class="d-block w-100" src="{{image.url}}" alt="Image {{loop.index}}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{image.caption}}</h5>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        </div>
                
                    <hr>
                    {% if ad.comments|length > 0 %}
                        <h2 class="mb-3">Commentaires de nos voyageurs :</h2>
                        {% for comment in ad.comments %}
                            <div class="bg-light rounded mb-3 py-3 px-3">
                                <strong>{{comment.author.firstName}}</strong> a dit : 
                                <blockquote>
                                    {{comment.content}}
                                </blockquote>
                                <strong>Note donnée par {{comment.author.firstName}} :</strong> {{comment.rating}}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2>Cette annonce n'a pas encore reçu de commentaires ...</h2>
                    {% endif %}

                </div>
                <div class="col-md-4">
                    {% if not ad.owner %}
                        <h3>Pas de propriétaire (bizarre non ?)</h3>
                    {% else %}
                        <div class="row align-items-center mb-3">
                            <div class="col-4 text-center">
                                <a href="{{path('user_profile', {'slug': ad.owner.slug})}}">
                                    <img class="avatar avatar-medium" src="{{ad.owner.picture}}" alt="Photo de {{ad.owner.firstName}}">
                                </a>
                            </div>
                            <div class="col">
                                <a href="{{path('user_profile', {'slug': ad.owner.slug})}}">
                                    <h3>{{ad.owner.firstName}} {{ad.owner.lastName}}</h3>
                                </a>
                                <span class="badge badge-primary">{{ad.owner.ads | length }} annonces</span>
                            </div>
                        </div>
                        {{ad.owner.description | raw}}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}


{% endblock %}